<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pc.database">

    <application
        android:allowBackup="true"
        android:icon="@drawable/gasicn"
        android:label="gas"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".tasjeel_accont" />
        <activity android:name=".show_accont" />
        <activity android:name=".update_accont" />
        <activity android:name=".Alwajah_Alraeeseeh">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tasjeel_gas" />
        <activity android:name=".show_take_data_to_tasjeel" />
        <activity android:name=".show_last_data"></activity>
    </application>

</manifest>